* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f0f0f5;
}

form {
  background: #fff;
  margin: 80px auto;
  padding: 64px;
  max-width: 530px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

form h1 {
  font-size: 36px;
  font-weight: 600;
}

form fieldset {
  margin-top: 64px;
  min-inline-size: auto;
  border: none;
}

form .form-control {
  background-color: #f0f0f5;
}

button {
  width: 120px;
  height: 35px;
  background: #34cd79;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
}

/* TIPOGRAFIA */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #20639b;
}

a,
button {
  text-decoration: none;
  border: none;
}
