
/* Menu */

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: #f0f0f0;
}

html {
   font-family: "Roboto", sans-serif;
}

section.menu {
   margin-top: 20%;
   border: 1px solid;
   justify-content: center;
   align-items: center;
   padding: 5px;
}

.box {
   text-align: center;
   border: 1px solid;
   flex: 0;
   height: 200px;
}

/* formulario */
section.formulario {
   padding-top: 20px;
   padding-bottom: 20px;
   margin-top: 7%;
}

form {
   border: 1px solid #ddd;
   padding: 5px;
}

