
/* Menu */

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}
a {
   text-decoration: none;
}
body {
   background-color: #f0f0f0;
}

html {
   font-family: "Roboto", sans-serif;
}

.box-titulo h2 {
   /* Link navbar */
   
   color: #212523;
   font-size: 20px;
   display: flex;
   font-weight: 700;
 }
.box-titulo h2 span {
  /* Link navbar icon */
  width: 50px;
  height: 50px;
  margin-right: 2px;
  margin-top: -5px;
  display: flex;
  background: url(../img/icons8-cor-30-4.png) no-repeat;
}

section.menu {
   margin-top: 20%;
   border: 1px solid;
   justify-content: center;
   align-items: center;
   padding: 5px;
}

.box {
   text-align: center;
   border: 1px solid;
   flex: 0;
   height: 200px;
}

/* formulario */
section.formulario {
   padding-top: 20px;
   padding-bottom: 20px;
   margin-top: 7%;
}

form {
   border: 1px solid #ddd;
   padding: 5px;
}

/* TIPOGRAFIA */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  color:  #20639B;
}