
/* Menu */

section.menu {
   margin-top: 20%;
   border: 1px solid;
   justify-content: center;
   align-items: center;
   padding: 5px;
}

.box {
   text-align: center;
   border: 1px solid;
   flex: 0;
   height: 200px;
}


/* formulario */
section.formulario {
   padding-top: 20px;
   padding-bottom: 20px;
   margin-top: 7%;
}

form {
   border: 1px solid #ddd;
   padding: 5px;
}

legend {
   text-align: center;
   margin-top: 26px;
   margin-bottom: 55px;
   font-size: 30px;
   font-weight: 400;
   border-bottom: none;
}
